<div class="article">
	<h4 class="titre">
		{{ article.titre }}
	</h4>
	<div class="prix-wrapper">
		{% if article.remise %}
			<div
				class="old-prix">
				{# {{ article.prix|format_currency('EUR') }} #}
				{{ article.prix }}
			</div>
			<div class="remise">
				{{ article.remise }}
			</div>
			<div class="new-prix">
				{{ article.prix - ((article.prix * article.remise) / 100) }}
			</div>
		{% else %}
			<div
				class="prix">
				{# {{ article.prix|format_currency('EUR') }} #}
				{{ article.prix }}
			</div>
		{% endif %}

	</div>
	<div class="images">
		{% for photo in article.photos %}
			<img src="./photos/{{ photo.url }}" alt="{{ photo.alt }}">
		{% endfor %}
	</div>
    <div class="ajout-panier">
        
    </div>
	<div class="description">
		description:
		<p>
			{{ article.description|raw }}
		</p>
	</div>
	<div class="composition">
		{% for pierre in article.pierres %}
			{% include "article/_pierre.html.twig" %}
		{% endfor %}
	</div>
</div>
