<div class="pierre">
	<h6 class="sub-article">
		{{ pierre.nom }}
	</h6>
	<ul>
		<li>forme:
			{{ pierre.forme }}</li>
		<li>vertu:
			{% for vertu in pierre.vertus %}
				<ul>
					<li>{{ vertu.nom }}</li>
				</ul>
			{% endfor %}
		</li>
		<li>Chakra:
			<ul>
				{% for chakra in pierre.chakras %}
					<li>{{ chakra.nom }}</li>
				{% endfor %}
			</ul>
		</li>
		{% if pierre.couleur %}
			<li>couleur:
				{{ pierre.couleur }}</li>
		{% endif %}
		{% if pierre.diametre %}
			<li>diamètre:
				{{ pierre.diametre }}</li>
		{% endif %}
	</li>
</ul></div>
